<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="page-two.title">Producteur</h1>
    <h5 class="text-center" >Le magicien de la Terre</h5>
    <hr/>

      <p> <h3 align="center">"Rien n'est meilleur que l'agriculture, rien n'est plus beau, rien n'est plus digne d'un homme libre. Elle suffit amplement aux besoins de notre vie."</h3>
      <i>-Damase Potvin</i>
      </p>
      <br>

    <p class="text-justify" >
        Vous êtes le principal Responsable de la consommation d'aujourd'hui. Vous pouvez faire passer un message et changer les mentalités vers un mode de vie plus sain et plus durable.
    </p>
      <br>
      <p>
        Créer votre boutique en ligne grâce à notre site et vendez directement aux professionnels proches de votre exploitation.
          <br>
          Vous êtes libre de fixer vos prix, votre zone géographique de livraison, vos délais,...
          <br> Plus de contraintes et plus de perte de temps.

      </p>


  </div>
  <div class="col-md-1"></div>
</div>
