<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
      <h1 class="text-capitalize text-center" ><b>JE SUIS</b></h1>
      <h5 class="text-center" >Restaurateur ou producteur ? Chacun à son espace personnalisé !</h5>

    <hr/>


    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/je-suis/page-one" >Restaurateur</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/je-suis/page-two" >Producteur</a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>
  <div class="col-md-1"></div>
</div>

<p>

</p>
