<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="page-one.title">Restaurateur</h1>
    <h5 class="text-center" >Le Responsable d'une consommation respectueuse de l'environnement</h5>
    <hr/>



      <p> <h3 align="center">"La gastronomie est l'art d'utiliser la nourriture pour créer du bonheur."</h3>
          <i>-Théodore Zeldin</i>
      </p>
      <br>



      <br>
    <p align="center" class="text-justify" >En tant que Restaurateur, vous jouez un rôle essentiel dans la sensibilisation de la population pour se tourner vers une consommation locale et plus responsable.</p>
    <p>Vous êtes le seul intermédiaire entre le producteur et l'assiette de vos clients !</p>
      <p> Avec Com'Hand, vous allez pouvoir collaborer plus facilement avec les producteurs de votre Région.
      Que ce soit une facilitation de la prise de commande avec vos producteurs actuels ou encore la découvre de nouveaux producteurs locaux.</p>
      <p><h5>Vous allez gagner du temps, obtenir plus de facilité et consommer plus responsable. Que demander de plus ?</h5></p>

      <p><button type="button" class="btn btn-primary btn-lg btn-block">Je démarre l'aventure Com'Hand !</button></p>
  </div>
  <div class="col-md-1"></div>
</div>
