


        <h1 align="center" class="display-4" jhiTranslate="home.title">Com'Hand !</h1>

        <h5 align="center" class="lead" jhiTranslate="home.subtitle">Le site qui vous tend la main</h5>

        <div class="row">

            <span align="center" class="hipster img-fluid rounded"></span>

        </div>

        <p>
        <h1 align="center">Com'Hand facilite la vie pour le circuit court entre producteurs et professionnels de retauration.</h1>
        </p>


        <p>
            <h1 align="center">On va vous changer la vie !</h1>
        </p>


        <p>

        <h3>Vous êtes restaurateur ou producteur ?</h3>
            <br>
            La prise ou la gestion des commandes est un vrai casse-tête  ?
            <br>
            Nous sommes là pour vous !
            <br>
            Com'Hand va vous faciliter la vie.
            <br>
            Plus besoin de se prendre la tête et de perdre du temps si précieux avec vos commandes.
            <br>
            La réalisation et le traitement de celles-ci vous être révolutionnées !
        </p>

        <p>
        <h3>Pourquoi Com'Hand ?</h3>
        </p>

        <p>
            Com'Hand va valoriser les produits en circuits courts de nos belles régions de France.
            <br>
            Nous savons tous actuellement qu'il faut repenser notre façon de consommer et donc notre façon de vivre.
            Il est important que les professionnels de la restauration revendiquent ces mêmes valeurs.
            Le circuit court permet de réduire les intermédiaires entre les producteurs et les restaurateurs ainsi que de
            valoriser les produits de saison !
            Dans le but de tout simplement respecter l'environnement.
            <br>
            Com'Hand permet aussi de garantir des prix plus justes aux professionnels et une marge supérieures aux producteurs.
        </p>

        <p>
            <h3>Un gain de temps</h3>
        </p>

        <p>
            Com'Hand ce n'est pas seulement favoriser un mode de vie plus durable !
            C'est aussi permettrent aux professionnels de gagner un temps précieux.
            Plus besoin de passer des heures à la prise de commandes, tout se fait en quelques clics !
        </p>

        <p jhiTranslate="home.question">
           Do you have any question ?
        </p>

        <ul>
            <li><a href="https://www.instagram.com/lilifoodie_/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow">follow @Lilifoodie_ on Instagram</a></li>
        </ul>


    </div>

        <p>
        <div class="row">

            <p><span align="center" class="hipster1 img-fluid rounded"></span></p>

        </div>
        </p>
